*{box-sizing:border-box;     
font-family: 'Hi Melody', cursive; font-size: 16px;
font-weight: bold;}

html{
    display:flex;
    justify-content: center;
    align-content:center;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:950px;
	flex-direction:column;
}

form{
    display:flex;
    width:100%;
    height:100%;
}

#divKing{
    
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
/*     background-color: lightcoral; */
/*     border: 10px solid lightgray; */
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}

.divs{
    display:flex;
        flex-direction: column;
}

#firstDiv{
    justify-content: center;
    align-items: center;
    height:8%;
    margin: 30px 0;
}

#secondDiv{
    height:10%;
    flex-direction: row;
    margin-top:10px;
}

#thirdDiv{
    display:flex;
    height:25%;

}

#forthDiv{
    display:flex;
    height:25%;
}

#fifthDiv{
    display:flex;
    height:25%;
}

#sixthDiv{
    display:flex;
    height:10%;
    justify-content: center;
    align-items: center;
}

#bold{
    font-size:20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.spans{
    font-size:18px;
    font-weight: bold;
    margin-left:5px;
}

article{
    display:flex;
    flex-direction:row;

}

.labels{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

textarea{
    height:120px;
    margin-top:3px; 
    border:2px solid lightgray;
    width:90%;
    resize:none;
/*     background-color: rgb(235, 235, 245); */
}

.boxs{
    margin-left:42px;
}

#btn{
    width:90%;
    height:50px;
    border:0;
    background-color: black;
    color:white;
    font-size: 25px;
    border-radius:10px;

}

article{
    margin-top:3px;
}

.textareaArticle{
    display:flex;
    justify-content: center;
    align-items: center;
}

.necessary{
    color:red;
}

#notNecessary{
    color:blue;
}

section{
    width:90%;
    height:95%;
    background-color: white;
    /* border: 1px solid lightcoral; */
    border:10px solid lightgray;
    border-radius:15px;
}

#d{

    font-size:50px;
    font-weight:bolder;

}

#btn{
    display:flex;
    width:90%;
    height:60px;
    background-color:lightcoral;
    /* border:1px solid rgb(227 31 25); */
    border:1px solid lightcoral;
    color:lightgray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody', cursive;
    font-size:25px;
    font-weight:bold;
    cursor:pointer;
}   

#btn:hover{
    color:black;
    border:2px solid lightgray;
    transition-duration: 1s;

}

img{
    width:200px;
}

footer{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.find1{
    display:flex;
    margin-top:0px;
    align-items:center;
}

.find1 a{
    font-size:14px;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.footer a{
    display:flex;
}
