* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
    display: flex;
}
.board_title ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

.board_title li{
    border: none;
    margin-right: 40px;
}

.board_title a{
    display: block;
    height: 100%;
    
    /* 글자를 세로 가운데 지정하는 방법 */
    /* line-height: 48px; */

    /* 밑줄 없애기 */
    text-decoration:  none;
    font-size: 18px;
    font-weight: bold;
    color: black;

    border-radius: 5px;
    transition-duration: 0.1s;
}
.board_title a:hover{
    background-color: #455ba8;
    color: white;
}
.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}
.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

/*  */
.board_wrap {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
}

.board_list .num,
.board_list .writer,
.board_list .count {
    display: none;
}

.board_list .date {
    width: 40%;
}

.board_list .title {
    text-indent: 10px;
}

.board_list .top .title {
    text-indent: 0;
}

.board_page a {
    width: 26px;
    height: 26px;
}

.board_page a.bt {
    padding-top: 7px;
}

.board_page a.num {
    padding-top: 6px;
}
