*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

.content{
    width: 70%;
    margin: 0 auto;
}
i{
    margin-right: 10px;
    font-size: 15px;
}
.selectBoxList {
    display: flex;
    grid-gap: 15px;
}
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
  position: relative;
  z-index: 1;
  width: 350px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #dedede;
  background: url(../images/festival_infomation/down-arrow.png) calc(100% - 2.5px) center no-repeat;
  background-size: 30px;
  cursor: pointer;
}

.selectBox2:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  right: 5px; 
  z-index: -1;
}

.selectBox2:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: #dedede;
}

.selectBox2 .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 10px;
  background: transparent;
  cursor: pointer;
}

.selectBox2 .optionList {
  position: absolute; 
  top: 31px;
  left: 0;
  width: 100%;
  background: gray;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .5s ease-in;
}

.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

.selectBox2.active {
    z-index: 10;
}

.selectBox2.active .optionList {
  max-height: 500px;
}

.selectBox2 .optionItem {
  border-bottom: 1px dashed #dedede;
  padding: 5px 15px 5px;
  transition: .1s;
}

.selectBox2 .optionItem:hover {
  background: rgb(196, 122, 122);
}

.selectBox2 .optionItem:last-child {
  border-bottom: 0 none;
}

