*{
    box-sizing: border-box; 
    font-family: 'Hi Melody', cursive;
    font-size:16px; 
}

#thumbNailDiv{
    width:100%;
    height:300px;
    position:relative;
}

#thumbNailDiv > img{
    min-width: 100%;
    height:300px;
    
}

#Nav1{
    text-decoration: none;
    font-size:25px;
    color:white;
    position:absolute;
    top:7px;
    left:7px;
}

#Nav2{
    text-decoration: none;
    font-size:25px;
    color:white;
    position:absolute;
    top:7px;
    left:150px;
}

#info{
    display:flex;
    height:300px;
    justify-content: center;
    align-items: center;

}

#contentAndBtns{
    position:relative;
}

#btn1{
    position:absolute;
    top:7px;
    right:7px;    
}

#btn2{
    position:absolute;
    top:60px;
    right:7px;    
}

.btns{
    width:90px;
    height:35px;
    border:0;
    border-radius: 50px;
    background-color: lightcoral;
    color:white;
    cursor:pointer;
}

.btns:hover{
    color:black;
    transition-duration: 1s;
}

#info > div{
    width:80%;
    height:80%;
}

.swiper {
    width: 80%;
    height: 500px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide:nth-child(1) {
    width: 100%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3) {
    width: 60%;
  }
  .swiper-slide:nth-child(5){
    width: 60%;
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px)) !important;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    background: var(--swiper-pagination-bullet-inactive-color,white) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
  }
  
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white !important;
  }

#imageAndContent{
    display:flex;
    height:300px;
}

#imageAndContent > div{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#findWayApi{
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction: column;
}

#youtube{
    height:200px;
}

#similar{
    height:200px;
}
