*{
    box-sizing: border-box; 
    font-family: 'Hi Melody', cursive;
    font-size:16px; 
}

#allDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#thumbNailDiv{
    width:100%;
    height:600px;
    position:relative;
}

#thumbNailDiv > img{
    min-width: 100%;
    height:600px;
    
}

#Nav1{
    text-decoration: none;
    font-size:25px;
    color:white;
    position:absolute;
    top:7px;
    left:7px;
}

#Nav2{
    text-decoration: none;
    font-size:25px;
    color:white;
    position:absolute;
    top:7px;
    left:150px;
}

.navs:hover{
    color:lightcoral;
    transition-duration: 1s;
}

#info{
    display:flex;
    width:60%;
    justify-content: center;
    align-items: center;
    margin-top:50px;

}

/* 스위퍼 */
.swiper {
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    height: 350px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.swiper-slide:nth-child(1) {
    width: 100%;
}
  
.swiper-slide:nth-child(2) {
    width: 60%;
}

.swiper-slide:nth-child(3) {
    width: 60%;
}

.swiper-slide:nth-child(4) {
    width: 60%;
}
  
.swiper-slide:nth-child(5) {
    width: 60%;
}

.swiper-slide:nth-child(6) {
    width: 100%;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px)) !important;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    background: var(--swiper-pagination-bullet-inactive-color,white) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
  
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white !important;
}

#contentAndBtn{
    position:relative;
}

#slogan{
    margin:10px 0;
    font-size:28px;
    font-weight:bold;
}

#festivalTitle{
    margin:20px 0;
    font-size:40px;
    font-weight: bold;
}

#festivalDt{
    font-size:20px;
    font-weight: bold;
    width:170px;
    height:28px;
    margin: 20px 0;
    margin-left:2px;
    border:2px solid lightcoral;
    border-radius: 10px;
    text-align: center;
}

#festivalContent{
    font-size:18px;
    margin: 20px 0;
    line-height: 30px;
}

#readCount{
    position:absolute;
    top:10px;
    right:30px;
    font-size:20px;
    font-weight:bold;
}

#btn1{
    position:absolute;
    top:70px;
    right:7px;   
    width:130px;
    height:40px;
    border:0;
    border-radius: 70px;
    background-color: lightcoral;
    color:white;
    cursor:pointer; 
    font-size:20px;
}

.btns:hover{
    color:black;
    transition-duration: 1s;
}

#info > div{
    width:100%;
    height:100%;
}

.brDiv{
    height:30px;
}

#imageAndContent{
    display:flex;
    height:400px;
    width:60%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}


#halfImage{

    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;

}

#halfImage > img{
    width:50%;
    height:50%;
}

#halfContent{
    width:50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.halfArticle{
    display:flex;
    margin: 10px 0;  
}

.halfArticle img{
    width:60px;
    height:60px;
}

.contents{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

#findWayApi{
    width:60%;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
    margin:20px 0;
}

#map{
    width:100%;
    height:600px;
}

#searchAddress{
    display:flex;
    height:100px;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

#address{
    width:200px;
    height:40px;
    border:2px solid lightcoral;
    border-radius: 10px;
    outline:0;
    margin-right: 5px;

}

#youtube{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:600px;
}

#youtubeLogo{
    display:flex;
    width:60%;
    justify-content: flex-start;
}

#youtubeImage{
    margin-left:5px;
    height:35px;
}

#spanDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#similar{
    width:60%;
    height:350px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top:1px solid lightgray;
    margin: 30px 0;
}

#randomImage{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;

}

#similarTell{
    font-size:35px;
    font-size:bold;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    margin:30px;
}

#similar a{
    display:block;
    width:20%;
}

#similar img{
    width:100%;
    height:220px;
    border:3px solid lightcoral;
    border-radius:10px;
    cursor:pointer;

}
