*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

html,
body {
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide:nth-child(1) {
  width: 100%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}
.swiper-slide:nth-child(5){
  width: 60%;
}
.swiper-slide:nth-child(7){
  width: 60%;
}
.swiper-slide:nth-child(3n) {
  width: 60%;
}
.swiper-slide:nth-child(10){
  width: 100%;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px)) !important;
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px)) !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius,50%);
  background: var(--swiper-pagination-bullet-inactive-color,white) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: orange !important;
}
/* ---------------게시판 타이틀------------------*/
.title-box{
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;;
  background-color: rgb(80, 78, 78);
  color: white;
  margin-bottom: 20px;
}
/*------------------ 셀렉트박스--------------------- */
.content, .content2{
  width: 70%;
  margin: 0 auto;
}
.content2{
  margin-top: 20px;
  margin-bottom: 30px;
}
.selectBox2 i{
  margin-right: 10px;
  font-size: 15px;
}
.selectBoxList {
  display: flex;
}
.box{
width: 29%;
margin-right: 10px;
}
.box:nth-child(3){
margin-right: 0px
}
#sp1{
padding-left: 10px;
}
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
position: relative;
z-index: 1;
width: 100%;
height: 35px;
border-radius: 4px;
border: 2px solid #dedede;
background: url(../images/festival_infomation/down-arrow.png) calc(100% - 2.5px) center no-repeat;
background-size: 30px;
cursor: pointer;
}
.selectBox2:after {
content: '';
display: block; 
width: 2px;
height: 100%; 
position: absolute; 
top: 0; 
right: 35px;
background: #dedede;
}

.selectBox2 .label {
display: flex;
align-items: center;
width: inherit;
height: inherit;
border: 0 none;
outline: 0 none;
padding-left: 10px;
background: transparent;
cursor: pointer;
}

.selectBox2 .optionList {
position: absolute; 
top: 31px;
left: 0;
width: 100%;
background: gray;
color: #fff;
list-style-type: none;
padding: 0;
border-radius: 6px;
overflow: hidden;
max-height: 0;
transition: .5s ease-in;
}

.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

.selectBox2.active {
  z-index: 10;
}

.selectBox2.active .optionList {
max-height: 500px;
}

.selectBox2 .optionItem {
border-bottom: 1px dashed #dedede;
padding: 5px 15px 5px;
transition: .1s;
}

.selectBox2 .optionItem:hover {
background: rgb(196, 122, 122);
}

.selectBox2 .optionItem:last-child {
border-bottom: 0 none;
}
#reset{
text-align: center;
font-size: 16px;
width: 30px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
border: 0;
cursor: pointer;
}
#info-search{
width: 100px;
font-size: 16px;
font-weight: bold;
background-color: #eee;
border: 0;
cursor: pointer;
}
#info-search:hover{
background-color: orangered;
}
/*------------- 축제일순 / 인기순 --------------- */
#span-box{
  width: 94.5%;
  display: flex;
  justify-content: flex-end;
}
.festival-date, .popularity{
  display: inline-block;
  margin-top: 20px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.festival-date:hover, .popularity:hover{
  color: green;
}
.festival-date{
  position: relative;
  margin-right: 15px;
}
.festival-date:after {
  content: ' ';
  display: block; 
  width: 2px;
  height: 60%; 
  position: absolute; 
  top: 2px; 
  right: -10px;
  background: #747474;
}
.info-table{
  height: 900px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid black;
}
td{
  width: 30%;
  height: 300px;
  border: 1px solid black;
}

/*--------------- 페이지버튼 영역 ------------------*/
#button-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
}
#button-box button{
  width: 80px;
  height: 30px;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#button-box button:hover{
  background-color: #747474;
}
#button-box button:last-child{
  margin-right: 0;
}