*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

.swiper-container {
	height:420px;
	border:5px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
	/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
}

/* ----------------------------------------------------------------------------------- */

/* 셀렉트박스 */
.content, .content2{
    width: 70%;
    margin: 0 auto;
}
i{
    margin-right: 10px;
    font-size: 15px;
}
.selectBoxList {
    display: flex;
    grid-gap: 15px;
}
.box{
  width: 30%;
}
#sp1{
  padding-left: 10px;
}
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #dedede;
  background: url(../images/festival_infomation/down-arrow.png) calc(100% - 2.5px) center no-repeat;
  background-size: 30px;
  cursor: pointer;
}
.selectBox2:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: #dedede;
}

.selectBox2 .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 10px;
  background: transparent;
  cursor: pointer;
}

.selectBox2 .optionList {
  position: absolute; 
  top: 31px;
  left: 0;
  width: 100%;
  background: gray;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .5s ease-in;
}

.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

.selectBox2.active {
    z-index: 10;
}

.selectBox2.active .optionList {
  max-height: 500px;
}

.selectBox2 .optionItem {
  border-bottom: 1px dashed #dedede;
  padding: 5px 15px 5px;
  transition: .1s;
}

.selectBox2 .optionItem:hover {
  background: rgb(196, 122, 122);
}

.selectBox2 .optionItem:last-child {
  border-bottom: 0 none;
}
/* --------------------------------------------------------------------------------- */

/* 게시판 타이틀   */
.title-box{
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;;
  background-color: #747474;
  color: white;
}

/* ----------------------------------------------------------------------------------- */
#span-box{
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
.festival-date, .popularity{
  display: inline-block;
  margin-top: 20px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.festival-date:hover, .popularity:hover{
  color: green;
}
.festival-date{
  position: relative;
  margin-right: 15px;
}
.festival-date:after {
  content: ' ';
  display: block; 
  width: 2px;
  height: 60%; 
  position: absolute; 
  top: 2px; 
  right: -10px;
  background: #747474;
}

.content-box{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
.content-box article{
  width: 28%;
}
.img-box{
  width: 100%;
  height: 65%;
  background-color: aqua;
}
.text-box{
  width: 100%;
  height: 35%;
  background-color: red;
}
.content-box2, .content-box3{
  margin-top: 30px;
}
.content-box3{
  margin-bottom: 50px;
}
#button-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
}
#button-box button{
  width: 80px;
  height: 30px;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#button-box button:hover{
  background-color: #747474;
}
#button-box button:last-child{
  margin-right: 0;
}