*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

/* 컨텐츠 박스 */
#content-box{
    margin: 50px auto;
    width: 70%;
    height: 130vh;
    border: 5px solid #dedede;
    box-shadow: 10px 10px 10px 5px gray;
}
/* 리스트 타이틀 */
.list-title{
    width: 70%;
    display: flex;
}
.list-title a{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}
.list-title a:hover{
    background-color: orange;
    color: black;
}
.list-title a:nth-child(1){flex-basis: 100%;}
.list-title a:nth-child(2){flex-basis: 100%;}
.list-title a:nth-child(3){flex-basis: 100%;}
.list-title a:nth-child(4){flex-basis: 100%;}

/* 목록 버튼 */
#button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
  }
  #button-box button{
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
  }
  #button-box button:hover{
    background-color: #747474;
  }
  #button-box button:last-child{
    margin-right: 0;
  }