*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}



.container1{
    width: 600px;
    height: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    border: 10px solid lightgray;
    border-radius: 10px;
}

.divide1{
    display: flex;
    flex-basis: 15%;
    margin-left: 50px;
    align-items: center;
    border: 0;
}

.sub{
    display: flex;
    margin: 0px 50px;
    height: 7%;
    align-items: center;
    border: 0;
}

#findPw-form{
    height: 300px;
}
.divide2{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    border: 0;
    height: 400px;
}

.divide3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 100%;
}
.divide3 > a{
    width: 25%;
    margin: 30px 30px;
}

.divide4{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 2px solid gray;
}

.divide4 input{
    border: 0;
    font-size: 15px;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    outline-style: none;
}

.divide2 > div:first-child{
    display: flex;
    background-color:lightcoral;
    color: white;
    align-items: center;
    justify-content: center;
    border: 0;
    
}

.divide4:nth-of-type(5){
    display: none;
}

button{
    cursor: pointer;
    background-color: lightcoral;
    border: 0;
}


#goToBack-btn, #findPw-btn{
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 5%;
    border: 0;
}
#sendEmail-btn, #email-authentication-btn{
    color: white;
    height: 40px;
    width: 25%;
    border-radius: 5%;
    border: 0;
}

#sendEmail-btn:hover{
    color: black;
}
#email-authentication-btn:hover{
    color: black;
}
#goToBack-btn:hover{
    color: black;
}
#findPw-btn:hover{
    color: black;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a{
    display:flex;
}

footer *{
    color: rgb(117, 115, 115);
}


