@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{margin: 0;padding: 0;}
li{list-style: none;}
a{background:transparent;text-decoration:none;color: inherit;display: block;}
img{vertical-align: top;}
body{font-family:'Montserrat','pretendard';}
/*footer*/
.footer {
	width: 100%;
	height: 100%;
}
.container{
	border: none !important;
}
.copyright{
	border: none !important;
}

.footer .quick_menu_list {
	width: 100%;
	height: 100px;
	background-color:#474443;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer .quick_menu_list li a img {
	width: 40px;
	margin: 0 auto;
	display: block;
}

.footer .quick_menu_list li a p {
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 14px;
	margin-top: 5px;
}

.footer .footer_wrap {
	background-color: #262423;
	height: 300px;
}

.footer .footer_wrap .footer_sns_icon {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.footer .footer_wrap .footer_sns_icon li {
	width: 33px;
	margin-top: 30px;
	margin-left: 10px;
}

.footer .footer_wrap .footer_sns_icon li:first-child {
	margin-left: 0;
}

.footer .footer_wrap .footer_sns_icon li a img {
	width: 100%;
}

.footer .footer_wrap .footer_sns_icon li a:hover {
	mix-blend-mode: color-dodge;
}

.footer .footer_wrap .footer_bottom_list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 27px auto;
	width: 410px;
}

.footer .footer_wrap .footer_bottom_list li {
	position: relative;
}

.footer .footer_wrap .footer_bottom_list li a {
	padding: 8px 25px;
	color: #eee;
	font-size: 13px;
	font-weight: 200;
	text-align: center;
}

.footer .footer_wrap .footer_bottom_list li a:after {
	content: "";
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 16px;
	background-color: #555;
}

.footer .footer_wrap .footer_bottom_list li:nth-child(3) a:after,
.footer .footer_wrap .footer_bottom_list li:last-child a:after {
	content: none;
}

.footer .footer_wrap .copyright h4 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 15px;
}

.footer .footer_wrap .copyright h5 {
	text-align: center;
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	margin: 11px 0;
	line-height: 1.5;
}

.footer .footer_wrap .copyright p {
	text-align: center;
	color: #fff;
	font-size: 11px;
}