*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}



.content{
    width: 80%;
    margin: auto;
    height: 550px;
    display: flex;
    flex-direction: column;
}


.content-1{
	display: flex;
    margin-top: 30px;
    height: 550px;
    
}

.divide1{
    display: flex;
    flex-direction: column;
    width: 70%;

}

.divide2{
    flex-basis: 50%;
    width: 100%;
    display: flex;
}
.divide5{
    flex-basis: 50%;
    display: flex;
}

.divide3{
    flex-basis: 50%;
    
    padding-right: 10px;
}
.divide4{
    flex-basis: 50%;
    padding-right: 10px;
}
.divide6{
    flex-basis: 50%;
    padding-right: 10px;
}
.divide7{
    flex-basis: 50%;
    padding-right: 10px;
}

.board-name1{
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
}
.board-name2{
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
}
.board-name3{
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
}
.board-name4{
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
}

.board-content1{
    background-color: aliceblue;
    border: 3px solid lightgray;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.board-content2{
    background-color: aliceblue;
    border: 3px solid lightgray;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}
.board-content3{
    background-color: aliceblue;
    background-color: aliceblue;
    border: 3px solid lightgray;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}
.board-content4{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    background-color: aliceblue;
    border: 3px solid lightgray;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    display: flex;
}




.korea{
	display: flex;
    width: 30%;
    height: 100%;
	align-content: center;
    position: relative;
    margin : 0 20px;
    margin-left: 50px;
    border: 3px solid lightgray;
    border-radius: 10px;
}

.korea > img{
    width: 100%;
    height: 100%;
    position: absolute;
}


.footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

a:hover {
	font-weight: bold;
}

table a{
    font-weight: lighter;
}


.swiper {
    width: 100%;
    height: 700px;
    background-color: black;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide:nth-child(1) {
    width: 100%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 100%;
  }
  .swiper-slide:nth-child(5){
    width: 100%;
  }
  .swiper-slide:nth-child(7){
    width: 100%;
  }
  .swiper-slide:nth-child(3n) {
    width: 100%;
  }
  .swiper-slide:nth-child(10){
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px)) !important;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    background: var(--swiper-pagination-bullet-inactive-color,white) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
  }
  
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: orange !important;
  }

  #seoul {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 45px;
    left: 85px;
    z-index: 1;
}

#seoul:hover{
    width: 85px;
    height: 105px;
}


#gyeonggi{
    position: absolute;
    width: 140px;
    height: 170px;
    left: 50px;
    top: 5px;
}

#gyeonggi:hover{
    width: 145px;
    height: 175px;
}

#incheon{
    position: absolute;
    width: 70px;
    height: 100px;
    top: 50px;
    left: 45px;
}

#incheon:hover{
    width: 75px;
    height: 105px;
}

#gangwon{
    position: absolute;
    width: 120px;
    height: 160px;
    top: 7px;
    left: 135px;
}

#gangwon:hover{
    width: 125px;
    height: 165px;
}

#chungnam{
    position: absolute;
    width: 110px;
    height: 150px;
    top: 132px;
    left: 50px;
}

#chungnam:hover{
    width: 115px;
    height: 155px;
}

#daejeon{
    position: absolute;
    width: 40px;
    height: 50px;
    top: 180px;
    left: 122px;
    z-index: 2;
}

#daejeon:hover{
    width: 44px;
    height: 55px;
    top: 177px;
}

#chungbuk{
    position: absolute;
    width: 110px;
    height: 150px;
    top: 115px;
    left: 125px;
    z-index: 1;
}

#chungbuk:hover{
    width: 120px;
    height: 155px;
}

#gyeongsang{
    position: absolute;
    width: 115px;
    height: 165px;
    top: 125px;
    left: 162px;
}

#gyeongsang:hover{
    width: 117px;
    height: 170px;
}

#daegu{
    position: absolute;
    width: 50px;
    height: 70px;
    top: 225px;
    left: 180px;
    z-index: 2;
}
#daegu:hover{
    width: 53px;
    height: 75px;
}

#jeonbuk{
    position: absolute;
    width: 100px;
    height: 160px;
    top: 212px;
    left: 75px;
    z-index: 1;
}

#jeonbuk:hover{
    width: 105px;
    height: 165px;
}

#jeonnam{
    position: absolute;
    width: 130px;
    height: 220px;
    top: 215px;
    left: 40px;
}

#jeonnam:hover{
    width: 135px;
    height: 225px;
}

#gwangju{
    position: absolute;
    width: 60px;
    height: 70px;
    top: 290px;
    left: 75px;
    z-index: 1;
}

#gwangju:hover{
    width: 63px;
    height: 75px;
}

#gyeongnam{
    position: absolute;
    width: 115px;
    height: 190px;
    top: 240px;
    left: 145px;
}

#gyeongnam:hover{
    width: 122px;
    height: 195px;
}

#jeju{
    position: absolute;
    width: 110px;
    height: 150px;
    top: 380px;
    left: 40px;
}

#jeju:hover{
    width: 115px;
    height: 155px;
}

#busan{
    position: absolute;
    width: 75px;
    height: 60px;
    top: 300px;
    left: 193px;
}

#busan:hover{
    width: 78px;
    height: 63px;
}

#ulsan{
    position: absolute;
    width: 45px;
    height: 70px;
    top: 265px;
    left: 230px;
}

#ulsan:hover{
    width: 48px;
    height: 73px;
}

.korea > img {
    cursor: pointer;
}


.divide1 a {
  display: inline-block;
  height: 100%;
}

.divide1  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.divide1 img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.flex{
    display: flex;
    height: 50%;
}

.divide1 > a {
    width: 100%;
    height: 50%;
    margin: 5px;
}

.list{
    display: block;
    padding-top: 15px;
    padding-right: 5px;
    
}
.img img{
    width: 100%;
    height: 100%;
}

.imgbox{
    width: 100%;
}
.li{
}
.txtbox{
}

.dsctxt{
}

.dsctxt-sub{

}

.divide7 img {
    width: 100%;
    height: 100%;
}
