*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}




.content{
    width: 60%;
    margin: 0px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.banner{
    display: flex;
    flex-direction: row;
    height: auto;
}

.banner{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid black; 
    margin-bottom: 20px;
    

}

.banner > div:nth-child(1){
    display: flex;
    width: 15%; 
    height: 300px;
    align-items: center;
    justify-content: center;
     
}
.banner > div:nth-child(2){
    width: 70%;
    margin: auto;
    height: 100%;
}
.banner > div:nth-child(3){
    display: flex;
    width: 15%; 
    height: 300px;
    align-items: center;
    justify-content: center;
}


.login{
    width: 30%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
    border: 1px solid black;

}

#signup-find-area{
	display: flex;
	justify-content: center;
}

#signup-find-area span{
	margin: 0px 20px;
}	

#loginBtn{
	width: 150px;
	height: 50px;
	font-size: 30px;
}

.content-1{
	display: flex;
	flex-direction: row;
    border-top: 1px solid black;
    margin-top: 30px;
}

.content-1 > div:nth-child(1){
	width: 40%;
	height: 500px;
    border-right : 1px solid black;
}

.content-1 > div:nth-child(2){
	width: 30%;
	height: 500px;
    border-right : 1px solid black;
}

.content-1 > div:nth-child(3){
	width: 30%;
	height: 500px;
}

.korea{
	display: flex;
	align-content: center;
}

.korea > img{
    width: 100%;
    height: 100%;
}

.board1{
	height: 50%;
    border-bottom: 1px solid black;
	
}

.board3{
    border-bottom: 1px solid black;
}
.board-name1{
	flex-basis: 10%;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: lightgray;
    text-align: center;
}
.board-content1{
	flex-basis: 90%;
    border: 0;
}

.board2{
	height: 50%;
}

.board-name2{
	flex-basis: 10%;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: lightgray;
    text-align: center;
}
.board-content2{
	flex-basis: 90%;
    border: 0;
}
.board3{
	height: 50%;
}
.board-name3{
	flex-basis: 10%;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: lightgray;
    text-align: center;
}
.board-content3{
	flex-basis: 90%;
    border: 0;
}
.board4{
	height: 50%;
}
.board-name4{
	flex-basis: 10%;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: lightgray;
    text-align: center;
}
.board-content4{
	flex-basis: 90%;
    border: 0;
}



.footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

a:hover {
	font-weight: bold;
}

table a{
    font-weight: lighter;
}

.swiper {
    width: 100%;
    height: 500px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide:nth-child(1) {
    width: 100%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 60%;
  }
  .swiper-slide:nth-child(5){
    width: 60%;
  }
  .swiper-slide:nth-child(7){
    width: 60%;
  }
  .swiper-slide:nth-child(3n) {
    width: 60%;
  }
  .swiper-slide:nth-child(10){
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px)) !important;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    background: var(--swiper-pagination-bullet-inactive-color,white) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
  }
  
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white !important;
  }