*{box-sizing:border-box; font-weight: bold; }

html{
    height:900px;
}

body{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#imgSection{
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:50px;
}

main{
    width:100%;
    height:80%;
    background-color:transparent;
    margin:auto;
    margin-top:50px; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#img1{
    width:200px;
}

#img2{
    width:50px;
    height:45px;
}

#img3{
    width:50px;
}

#heightdiv{
    height:50px;
}

#widthdiv{
    width:30px;
}

form{
    display:flex;
    flex-basis:80%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

section.content{
    display:flex;
    flex-direction: column;
    height:100%;
    width:40%;
    border:10px solid lightgray;
    border-radius:10px;
    justify-content: center;
    align-items:center;
}

section.content1{
    display:flex;
    width:98%;
    height:20%;
    justify-content:center;
    align-items:center;
    border:1px solid lightgray;
    border-radius:10px;
}


section.content1>input{

    border:0;
    outline: 0; 
    text-decoration:none;
    width:80%;
}

#inputId{
    font-family: 'Hi Melody', cursive;
}

#sel1{
    border:0; margin-right:3px;
}

#sel2{
    border:0;
}

sectionmargin{
    width:100%;
    height:50px;
}

div{
    display:flex; 
    width:50px; 
    height:50px; 
    justify-content:center; align-items: center;
}


section.content1:hover{
    border:2px solid lightcoral;
}

::placeholder{
    font-family: 'Hi Melody', cursive;
    font-weight: bold;
}

div{
    height:40px;
    font-family: 'Hi Melody', cursive;
    font-weight:bold;
    font-size:15px;

}

#btn1{
    display:flex;
    flex-basis:100%;
    height:100%;
    background-color:lightcoral;
    /* border:1px solid rgb(227 31 25); */
    border:1px solid lightcoral;
    color:lightgray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody', cursive;
    font-size:25px;
    font-weight:bold;
    cursor:pointer;
}

#btn1:hover{
    color:black;
    border:1px solid lightgray;
    transition-duration: 1s;

}

.content1 a{
    font-size:20px;
    font-weight: bold;
}


.find{
    width:150px;
    margin-top:0px;
}

.find1{
    display:flex;
    margin-top:0px;
    align-items:center;
}
.find a{
    font-size:16px;
    color:rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-family: 'Hi Melody', cursive;
}

.find1 a{
    font-size:14px;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Hi Melody', cursive;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a{
    display:flex;
}
