*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

div{
	border: 1px solid black;
	
	
}



header{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
}
header section:nth-of-type(1){
    flex-basis: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header section:nth-of-type(1) a{
   width : 100%;
   height : 100%;
}
#home-logo{
    width: 100%;
    height: 100%;
}
header nav{
    flex-basis: 70%;
    height: 40px;
}
header nav> ul{
    width: 100%;
    height: 100%;
    display: flex;

} 
header ul>li{
    width: 20%;
    height: 100%;
    background-color: #222;
    color: white;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
} 


header ul>li:nth-last-child(){
    border-right:0px;
}

header ul>li:hover{
    background-color: rgb(114, 111, 111);
}
header section:nth-of-type(2){
    flex-basis: 15%;
}
header section:nth-of-type(2) article{
    margin-left: 20px;
    height: 40px;
    display: flex;
}
header section:nth-of-type(2) i{
    cursor: pointer;
    font-size: 28px;
    background-color: #888;
    height: 40px;
    width: 50px;
    padding-left: 10px;
    line-height: 35px;
}
header section:nth-of-type(2) input{
    outline-color: deepskyblue;
    height: 40px;
    font-size: 13px;
    padding-left: 10px;
}

.content{
	height: 800px;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-size: 20px;
    margin-bottom: 100px;

}

.content > div:nth-child(1) {
	flex-basis: 10%;
	display: flex;
	margin-top: 50px;
	
}

.content > div:nth-child(2) {
	flex-basis: 10%;
}

.content > div:nth-child(3) {
	flex-basis: 10%;
}

.content > div:nth-child(4) {
	flex-basis: 70%;
}


.member_list > div{
	display: flex;
	flex-direction: row;
	text-align: center;
}

.num{
	flex-basis: 5%;
}

.check{
	flex-basis: 3%;
}

.memberId{
	flex-basis: 15%;
}
.memberName{
	flex-basis: 10%;
}
.memberEmail{
	flex-basis: 20%;
}
.phoneNum{
	flex-basis: 20%;
}
.enrollDt{
	flex-basis: 20%;
}
.secession{
	flex-basis: 7%;
}

.board_page{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

a:hover {
	font-weight: bold;
}

.member-list{
	text-align: center;
}


.no{
	width: 70px;
}

.ck{
	width: 30px;
}
.id{
	width: 140px;
}
.nm{
	width: 110px;
}
.em{
	width: 220px;
}
.pn{
	width: 220px;
}
.dt{
	width:180px;
}

table, td, th {
  border : 1px solid black;
  border-collapse : collapse;
}


















