*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

div{
	border: 1px solid black;
	
	
}




.content{
	height: 800px;
	width: 60%;
	margin: 0 auto;
    margin-top: 100px;
	display: flex;
	flex-direction: column;
	font-size: 20px;
    margin-bottom: 100px;

}

.content > div:nth-child(1) {
	flex-basis: 10%;
	display: flex;
	margin-top: 50px;
	
}

.content > div:nth-child(2) {
	flex-basis: 10%;
}

.content > div:nth-child(3) {
	flex-basis: 10%;
}

.content > div:nth-child(4) {
	flex-basis: 70%;
}

.member-list{
	margin: 0px auto;
	
}

.member-list > div{
	display: flex;
	flex-direction: row;
	text-align: center;
}


.num{
	flex-basis: 5%;
}

.check{
	flex-basis: 3%;
}

.memberId{
	flex-basis: 15%;
}
.memberName{
	flex-basis: 10%;
}
.memberEmail{
	flex-basis: 20%;
}
.phoneNum{
	flex-basis: 20%;
}
.enrollDt{
	flex-basis: 20%;
}
.secession{
	flex-basis: 7%;
}

.board_page{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

a:hover {
	font-weight: bold;
}

.member-list{
	text-align: center;
}


.no{
	width: 70px;
}

.ck{
	width: 30px;
}
.id{
	width: 140px;
}
.nm{
	width: 110px;
}
.em{
	width: 220px;
}
.pn{
	width: 220px;
}
.dt{
	width:180px;
}

table, td, th {
  border : 1px solid black;
  border-collapse : collapse;
}


















