

.content{
	padding: 0px 10px;
}


 .divide1{
	display: flex;
	flex-direction: row;
	
 }

 .divide2{
	flex-basis: 70%;
	padding-left: 30px;
	margin: 10px 0;
	border: 0;
 }

.table1{
	width: 100%;
	height: 100%;
  }
table, td, th {
  border : 1px solid black;
  border-collapse : collapse;
}
.content{
	display: flex;
	flex-direction: column;
}

.title{
	text-align: center;
}
.memberCount{
	text-align: center;
}


.content > div:nth-child(1){
	flex-basis: 10%;
	margin-top: 100px;
}

.content > div:nth-child(2){
	flex-basis: 10%;
}


.table1{
	
	text-align: center;
}

.board-page {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.board-page > a {
	margin: 0px 5px;
}

.pagination{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
	
}

.pagination-area{
	border: 0;
	padding-top: 20px;
	padding-bottom: 50px;
}


.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing: -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

#secession{
	width: 80px;
    height: 30px;

    font-weight: bold;
    border: 0;
    background-color: #534c4c;
    color: white;
    cursor: pointer;
}

.btn-area{
	display: flex;
	justify-content: right;
	padding-right: 30px;
	margin: 10px 0;
	flex-basis: 30%;
	border: 0;
}

.check{
	margin: auto;
}

#selectMemberDelete{
	border: 0;
	width: 50px;
	height: 30px;
	background-color: lightgray;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10%;
}

#selectMemberDelete:hover{
	color: white;
}

#mem-search-btn{
	margin-top: 10px;
}












