*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive; border:1px solid black;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}

/* 헤더 부분 */
header{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
}
header section:nth-of-type(1){
    flex-basis: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header section:nth-of-type(1) a{
    width : 100%;
    height : 100%;
}
#home-logo{
    width: 100%;
    height: 100%;
}
header nav{
    flex-basis: 70%;
    height: 40px;
}
header nav> ul{
    width: 100%;
    height: 100%;
    display: flex;

} 
header ul>li{
    width: 20%;
    height: 100%;
    background-color: #222;
    color: white;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
} 

header ul>li:nth-last-child(){
    border-right:0px;
}

header ul>li:hover{
    background-color: rgb(114, 111, 111);
}
header section:nth-of-type(2){
    flex-basis: 15%;
}
header section:nth-of-type(2) article{
    margin-left: 20px;
    height: 40px;
    display: flex;
}
header section:nth-of-type(2) i{
    cursor: pointer;
    font-size: 28px;
    background-color: #888;
    height: 40px;
    width: 50px;
    padding-left: 10px;
    line-height: 35px;
}
header section:nth-of-type(2) input{
    outline-color: deepskyblue;
    height: 40px;
    font-size: 13px;
    padding-left: 10px;
}

/*  마이페이지 컨탠츠 부분 */

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

/* 이미지첨부 영역 */
#profile-img-box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#profile-img{
    height: 400px;
    width: 400px;
    margin-right: 30px;
    background-image: url("../resources/images/faadfgasefawcs.jpg");
}

#file{
    width: 400px;
}

/* 프로필 메세지, 동행후기 영역*/
#intro{
    margin-bottom: 20px;
}

#history > textarea{
    margin-bottom: 20px;
}

#history > table{
    width: 100%;
}
#history > table td{
    width: 20%;
}

/* 관심목록 영역 */

.sub-title{
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: black;
}

#festival-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#festival-box > article{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin: 10px 30px;
}

#profile-img-box> article{
    width: 100%;
    height: 100%;
    background-image : url("../resources/images/faadfgasefawcs.jpg");
}
article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article a{
    display: block;
    width: 100%;
    height: 100%;
}