*{box-sizing: border-box; margin: 0; padding: 0; font-family: 'Hi Melody', cursive;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none; cursor: pointer;}


/*  마이페이지 컨탠츠 부분 */

.title{
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    /*background-color: rgb(80, 78, 78);*/
    color: lightcoral;
    border: 0;
}

#contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#info-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    padding: 10px 0;
}

/* 이미지첨부 영역 */
.profile-image-area{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-btn-area{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.profile-btn-area > label{
    cursor: pointer;
}

#delete-image{
    padding: 0;
}

#profile-image{
    height: 400px;
    width: 400px;
    object-fit:cover;
    margin-right: 50px;
    margin-bottom: 10px;
    border: 2px solid lightcoral;
    border-radius: 50%;
}

#input-image{
    width: 230px;
    display: none;
}

/* 프로필 메세지, 동행후기 영역*/
#intro{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
}
#profile-message{
    resize: none;
    padding: 10px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    
}

#history{
    width: 100%;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid lightcoral;
    border-radius: 10px;
}

#info-btn-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#info-btn-area > div{
    align-items: center;
}

.mypage-icon{
    width:25px;
    height: 25px;
}

.mypage-span{
    margin-left: 20px;
}

.mypage-btn{
    width: 100px;
}

/* 관심목록 영역 */

.sub-title{
    width: 100px;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: lightcoral;
    border-radius: 10px;
}

#festival-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    height: 550px;
    overflow: auto;
    margin-bottom: 20px;
    padding-left: 15%;
    border: 1px solid lightcoral;
    border-radius: 10px;
}

#festival-box > article{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 250px;
    margin: 10px 30px;
}
#festival-box > article > h1{
    font-size: 20px;
}

#festival-box > article img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

#delete-image{
    cursor: pointer;
}
