/* section,div,form{
    border: 1px solid black;
} */

*{
    box-sizing: border-box; 
    font-family: 'Hi Melody', cursive;
}

/* a태그 공통 설정 */
.board-list a {
    text-decoration: none;
}
.board-list a:hover{
    text-decoration: underline;
}

.board-list{
    width: 1000px;
    margin: 50px auto;
    border: 3px solid lightcoral;  
    border-radius: 10px;
}
.board-list1{
    width: 1000px;
    margin: 50px auto;
    border: 3px solid lightcoral;  
    border-radius: 10px;
}

/* .board-list:nth-of-type(1),.board-list:nth-of-type(2),.board-list:nth-of-type(3),.board-list:nth-of-type(4){
    position: relative;
} */
.board-list1:nth-of-type(1),.board-list:nth-of-type(2),.board-list:nth-of-type(3),.board-list:nth-of-type(4){
    position: relative;
}


/* 게시판 이름 */
.board_name{
    font-size: 2.5em;
    margin-left: 30px;
}

/* 게시글 목록 영역 */
.list-wrapper{
    width: 100%;
    min-height: 670px;
}

/* 목록 출력 테이블 */
.list-table{
    width: 100%;
    padding: 10px;

    

    /* 테두리 상쇄 여부 지정
        -> 고유 테두리를 지닌 요소와 겹치는 경우
           테두리를 분리할지 상쇄(덮어쓰기)할지 지정한다 
     */
   /* border-collapse: collapse; */
}
.list-table1{
    width: 100%;
    padding: 10px;

    /* 테두리 상쇄 여부 지정
        -> 고유 테두리를 지닌 요소와 겹치는 경우
           테두리를 분리할지 상쇄(덮어쓰기)할지 지정한다 
     */
    border-collapse: collapse;
}


.list-table >tbody> tr{
    display: flex;
    height: 30px;
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.list-table >tbody> tr>th{
}

tbody> tr > *:nth-of-type(1){width: 15%; padding-left: 10px;}
tr > *:nth-of-type(2){width: 15%;}
tr > td:nth-of-type(3){width: 40%; text-align: left; padding-left: 70px; }
tr > *:nth-of-type(4){width: 15%;}
tr > *:nth-of-type(5){width: 15%;}

/* 버튼 영역 */
/* .btn-area{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

/* 마우스 올리면 색 변화 */
.item:hover{
    color: #fff;
    background-color: lightgreen;
}

.sch_result_list{margin:0 0 3px }
.sch_result_list li:first-child{padding-top:11px}
.sch_result_list .tit_txt{font-weight:normal;text-decoration:underline;line-height:30px;}
.sch_result_list .link_dsc_txt{margin-top:6px;line-height:20px;  color: #999;}
.sch_result_list .link_dsc_txt.dsc_sub{margin-top:4px}
.sch_result_list .link_dsc_txt.dsc_sub:after{clear:both;display:block;visibility:hidden;content:""}
/* .sch_result_list .sub_txt{text-decoration:underline; color: #ccc;   } */
.date_time{ display: inline; float:none;margin-left:10px;margin-top:0}
.sch_result_list .date_time:first-child{margin-left:0}
/* .sch_result_list .date_time::before{display:none} */

.integrate_cont.sch_result.result_all{border-bottom:none}


.integrate_cont_head{
    font-size: 1.3rem;
}
.sch_result_list.img{  display: grid; 
  grid-template-columns: 1fr 1fr; font-size: 1.5rem; column-gap: 20px; /* column의 간격을 20px로 */ justify-content: center; margin-left: 10px;}
.integrate_cont.news_result.news_all{border-bottom:none}
.sch_result_list.img li{ overflow:hidden;padding-top:15px; justify-content: center; }
.sch_result_imgbox{float:left;width:152px;height:102px;}
.sch_result_imgbox > a{width:150px;height:100px;border:1px #ccc solid;overflow:hidden}
.sch_result_imgbox img{width:150px;min-height:100px}
.sch_result_txtbox{display: flex; flex-direction: column; justify-content: space-evenly; width:300px; z-index: 30;}
.sch_result_txtbox:first-child{width:100%;}
.sch_result_list.img .tit_txt{display:block;font-size: 1.5rem;}
.sch_result_list.img .link_dsc_txt{height:20px;overflow:hidden; margin: 5px 0;}
.sch_result_list.img .link_dsc_txt.dsc_sub{height:20px; display: flex;  margin-bottom: 5px;}
.gall_result_more{position:relative;margin-right:12px;color:#999; float: right; }
.gall_result_more:after{content:'';display:inline-block;width:5px;height:9px;margin-left:3px;
background-image:url(https://nstatic.dcinside.com/dc/w/images/sp/sp_img.png);background-position:-110px -58px
}

.fr {
    float: right;
    padding-bottom: 10px;
    padding-right: 10px;
}


