<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../resources/css/festivalDetail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Moirai+One&display=swap" rel="stylesheet">

</head>
<body>

    <div id="thumbNailDiv">
        <img src="../../../resources/images/birth.png">
        <a href="${contextPath}" id="side">메인페이지로</a>
    </div>

    <div id="infos">

        <div>최고의 토마토와 함께하는 여름 가족 축제</div>
        <div>둔내고랭지토마토축제</div>
        <div>d-10</div>
        <div>축제 기간	2023.08.12 ~ 2023.08.14</div>

    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide"><img src="../../../resources/images/birth.png"></div>
           <div class="swiper-slide"><img src="../../../resources/images/birth.png"></div>
           <div class="swiper-slide"><img src="../../../resources/images/birth.png"></div>
           <!-- <div class="swiper-slide"><img src="../../../resources/images/birth.png"></div>
           <div class="swiper-slide"><img src="../../../resources/images/birth.png"></div>
           <div class="swiper-slide"><img src="../../../resources/images/birth.png"></div>
  -->
        </div>
        <div class="swiper-pagination"></div>
     </div>

     <div id="contents">
        <div>
            <div>
                제12회 둔내고랭지토마토축제가 8월 12일부터 8월 14일까지 3일간 고원 청정고장인 횡성군 둔내면 종합체육공원 일원에서 '최고의 토마토와 함께하는 여름 가족 축제!'란 주제로 개최된다.
                올해 둔내고랭지토마토축제는 더 넓어진 토마토풀장이 하루 2번 운영되며 작년보다 더욱 다양한 볼거리, 먹거리, 체험거리를 준비하였다.
                또한 한여름 무더위를 날려버린 태기산 K-POP COOL 페스티벌도 기대해 주길 바란다.
            </div>

            <div>
                [행사내용]
                1. 메인프로그램 : 토마토 풀장(총 6회)
                - 매일 11시, 15시 운영
                - 입장료: 1인 15,000원[네이버 예매(150명), 현장판매(100명)], 입장권 구매 시 축제상품권(5천원권), 횡성루제체험장 50%할인 쿠폰 지급
                - 경품: 금반지, 한우세트, 국순당선물세트, 농특산물 등 1회 25점
            </div>

            <div>
                2. 부대프로그램
                - 개막식: 8. 12.(토) 18:00~21:00
                - 태기산 K-POP COOL 페스티벌: 8. 13.(일) 19:00~21:00
                - 폐막식: 8. 14.(월) 17:00~19:00
            </div>

            <div>
                3. 소비자 참여 프로그램 : 토마토 이벤트
                - 토마토효능 O,X 퀴즈, 토마토 무게 맞히기, 토마토 높이 쌓기, 못생긴 토마토 대회 등
                - 즉석 걸거리 탁구 이벤트
                - 봉숭아꽃 물들이기 체험
            </div>

        </div>
     </div>

     <div id="imageAndContent">
        <div id="halfImage">
            <img src="../../../resources/images/birth.png">
        </div>

        <div id="halfContent">
            <div>text</div>
            <div>text</div>
            <div>text</div>
            <div>text</div>
            <div>개별 축제 홈페이지 링크 달 수 있다면 달기</div>
        </div>
     </div>

     <div id="findWayApi">
        길찾기
     </div>

     <div>
        해당축제 유튜브 있으면 띄우기
     </div>

     <div>
        비슷 축제 4개 뽑기
    </div>

</body>
</html>